/* --------------- Galería --------------- */
.galeria-horizontal{
    width: 100%;
}

.fila{
    margin-left: 6vw;
    width: 90vw;
}

.galeria-img{
    margin: 0px .5vw;
    margin-bottom: 15px;
    width: 28vw;
    height: auto;
}