/* -------------------- Separador -------------------- */
@media screen and (max-width: 720px){
    /* -------------------- Separador -------------------- */
    .separador-contenedor-3{
        width: 75%;
        height: auto;
        margin-left: 12.5%;
        margin-bottom: 10px;

        text-align: center;
    }

    .separador-txt-principal-3{
        font-size: 24px;
    }

    .separador-txt-secundario-3{
        padding-bottom: 5px;
        border-bottom: 3px solid #000000;

        font-size: 16px;
    }
}